pkgbase = gitbutler-bin
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.14.32
	pkgrel = 1
	url = https://gitbutler.com/
	arch = x86_64
	license = FSL-1.0-MIT
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	source = https://releases.gitbutler.com/releases/release/0.14.32-2055/linux/x86_64/GitButler_0.14.32_amd64.deb
	sha256sums = 94f403137b6ed7593826260448b51c9af386a1eefc142333e8966d8895748054

pkgname = gitbutler-bin
