pkgbase = gitbutler-bin
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.14.23
	pkgrel = 1
	url = https://gitbutler.com/
	arch = x86_64
	license = FSL-1.0-MIT
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	source = https://releases.gitbutler.com/releases/release/0.14.23-1959/linux/x86_64/GitButler_0.14.23_amd64.deb
	sha256sums = 3a42cf3835d2e1151e90c36d22432eb2a8e96727eefba754233d1636f8eb4b6a

pkgname = gitbutler-bin
